.project {
    width: 100%;
    height: auto;
    /* old height settings calc(150vh - 100px) */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #92374D;
}
.project h1 {
    margin-top: 50px;
    text-align: center;
    color: #EDC7CF;
    font-size: 45px;
    font-family: 'Miriam Libre', sans-serif;
}
.project img {
    width: calc(50vw + 200px);
    border-radius: 10px;
}
.project p {
    font-size: 35px;
    text-align: center;
    color: #040926;
    font-family: 'Martel Sans', sans-serif;
}
.project svg {
    font-size: 60px;
    color: #040926;
    margin-bottom: 10px;
}
.project .icons:hover {
        color: black;
        transition: 0.3s ease-in;
        cursor: pointer;
}

/* when screen is a certain size, it allows us to ensure that it scales properly and looks nice */
@media only screen and (min-width: 300px) {
    .project p {
        font-size: 20px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .project p {
        font-size: 30px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .project p {
        font-size: 35px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .project p {
        font-size: 35px;
    }
  }