.footer {
  width: 100%;
  height: calc(vh - 10px);
  background-color: #EDC7CF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  margin-top: 5px;
}
.socialMedia svg {
  color: #040926;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #040926;
}
/* when screen is a certain size, it allows us to ensure that it scales properly and looks nice */
@media only screen and (min-width: 390px) {
  .footer svg {
    font-size: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer svg {
    font-size: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer svg {
    font-size: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer svg {
    font-size: 50px;
  }
}
